<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huaxing.repository.ElectricityParameterRepository">
	<!-- 获取功率因数或视在功率最大值  王晓超 2018年7月26日14:28:18 -->
	<select id="getMaxList" resultType="com.huaxing.bean.ElectricityParameter">
		SELECT
			q.*
		FROM
			(
				SELECT
					${queryColumStr} AS 'max_value',
					DATE_FORMAT(
						acquisition_time,
						'${dateFormatStr}'
					) AS 'acquisition_time',
					acquisition_time AS 'max_date'
				FROM
					ngt_coll_device_data
				WHERE
					acquisition_time BETWEEN #{startDate}
				AND #{endDate}
				AND data_type = #{dataType}
				AND company_id = #{companyId}
				<if test="equipmentId != null and equipmentId!=''">AND equipment_id = #{equipmentId}</if>
				ORDER BY
					${queryColumStr} DESC, max_date DESC LIMIT 10000000000
			) q
		GROUP BY
			acquisition_time
	</select>
	<!-- 获取功率因数或视在功率最小值  王晓超 2018年7月26日14:29:28 -->
	<select id="getMinList" resultType="com.huaxing.bean.ElectricityParameter">
		SELECT
			q.*
		FROM
			(
				SELECT
					${queryColumStr} AS 'min_value',
					DATE_FORMAT(
						acquisition_time,
						'${dateFormatStr}'
					) AS 'acquisition_time',
					acquisition_time AS 'min_date'
				FROM
					ngt_coll_device_data
				WHERE
					acquisition_time BETWEEN #{startDate}
				AND #{endDate}
				AND data_type = #{dataType}
				AND company_id = #{companyId}
				<if test="equipmentId != null and equipmentId!=''">AND equipment_id = #{equipmentId}</if>
				ORDER BY
					${queryColumStr} ASC, min_date DESC LIMIT 10000000000
			) q
		GROUP BY
			acquisition_time
	</select>
	<!-- 获取功率因数或视在功率平均值  王晓超 2018年7月26日14:29:45 -->
	<select id="getAvgList" resultType="com.huaxing.bean.ElectricityParameter">
		SELECT
			AVG(${queryColumStr}) AS 'avg_value',
			DATE_FORMAT(
				acquisition_time,
				'${dateFormatStr}'
			) AS 'acquisition_time'
		FROM
			ngt_coll_device_data
		WHERE
			acquisition_time BETWEEN #{startDate}
		AND #{endDate}
		AND data_type = #{dataType}
		AND company_id = #{companyId}
		<if test="equipmentId != null and equipmentId!=''">AND equipment_id = #{equipmentId}</if>
		GROUP BY
			DATE_FORMAT(acquisition_time, '${dateFormatStr}')
	</select>
	<!-- 获取用电参数的原始数据  王晓超 2018年10月18日10:11:19 -->
	<select id="getDataList" resultType="com.huaxing.bean.ElectricityParameter">
		SELECT
			a.max_value,
			a.min_value,
			a.avg_value,
			a.acquisition_time,
			b.max_date,
			c.min_date
		FROM
			(
				SELECT
					id,
					max(max_value) AS 'max_value',
					min(min_value) AS 'min_value',
					avg(avg_value) AS 'avg_value',
					DATE_FORMAT(create_date, '${dateFormatStr}') AS 'acquisition_time'
				FROM
					ngt_data_statistical
				WHERE
					column_flag = '${columnFlag}'
				AND company_id = #{companyId}
				AND data_type = #{dataType}
				AND create_date BETWEEN #{startDate}
				AND #{endDate}
				<if test="equipmentId != null and equipmentId!=''">AND equipment_id = #{equipmentId}</if>
				GROUP BY
					DATE_FORMAT(create_date, '${dateFormatStr}')
			) AS a
		INNER JOIN ngt_data_statistical b ON a.max_value = b.max_value
		AND b.column_flag = '${columnFlag}'
		AND b.company_id = #{companyId}
		AND b.data_type = #{dataType}
		AND b.create_date BETWEEN #{startDate}
		AND #{endDate}
		<if test="equipmentId != null and equipmentId!=''">AND b.equipment_id = #{equipmentId}</if>
		INNER JOIN ngt_data_statistical c ON a.min_value = c.min_value
		AND c.column_flag = '${columnFlag}'
		AND c.company_id = #{companyId}
		AND c.data_type = #{dataType}
		AND c.create_date BETWEEN #{startDate}
		AND #{endDate}
		<if test="equipmentId != null and equipmentId!=''">AND c.equipment_id = #{equipmentId}</if>
	</select>
</mapper>