<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huaxing.repository.PeriodicMaintenanceContentTemplateRepository">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.huaxing.bean.PeriodicMaintenanceContentTemplate" id="periodicMaintenanceContentTemplateMap">
        <result property="id" column="id"/>
        <result property="checkPoint" column="check_point"/>
        <result property="checkItem" column="check_item"/>
        <result property="keyPoint" column="key_point"/>
        <result property="checkStandard" column="check_standard"/>
        <result property="sort" column="sort"/>
        <result property="templateName" column="template_name"/>
        <result property="equipmentCategory" column="equipment_category"/>
        <result property="companyId" column="company_id"/>
        <result property="keyWord" column="key_word"/>
        <result property="createBy" column="create_by"/>
        <result property="createDate" column="create_date"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateDate" column="update_date"/>
        <result property="type" column="type"/>
    </resultMap>

	<select id="get" resultType="com.huaxing.bean.PeriodicMaintenanceContentTemplate">
		select * from ngt_periodic_maintenance_content_template where id = #{value}
	</select>

	<select id="queryList" resultType="com.huaxing.bean.PeriodicMaintenanceContentTemplate">
		select * from ngt_periodic_maintenance_content_template template
		 <where>
        template.del_flag='0'
		<if test="companyId!=null and companyId !=''">
		and template.company_id=#{companyId}
		</if>
		<if test="templateName!=null and templateName !=''">
		and template_name like concat('%', #{templateName}, '%') 
		</if>
       </where>
       
	</select>
	
	<select id="queryListByEquimentId" resultType="com.huaxing.bean.PeriodicMaintenanceContentTemplate">
		select  template.* from ngt_periodic_maintenance_content_template template
		 <where>
        template.del_flag='0' and 
        ((template.company_id=#{companyId} and template.equipment_category = #{equipmentCategory})
		or (template_name like concat('%', #{templateName}, '%') and template.type = 'system'))
       </where>
       
	</select>
	
	<select id="queryMyList" resultType="com.huaxing.bean.PeriodicMaintenanceContentTemplate">
		select * from ngt_periodic_maintenance_content_template where del_flag='0' and create_by = #{createBy}
       
	</select>
	
	<select id="getByName" resultType="com.huaxing.bean.PeriodicMaintenanceContentTemplate">
		select * from ngt_periodic_maintenance_content_template where template_name = #{templateName}
       
	</select>
	
 
	 
	<insert id="save" parameterType="com.huaxing.bean.PeriodicMaintenanceContentTemplate">
		insert into ngt_periodic_maintenance_content_template
		(
			`id`, 
			`check_point`, 
			`check_item`, 
			`key_point`, 
			`check_standard`, 
			`sort`, 
			`template_name`, 
			`equipment_category`, 
			`company_id`, 
			`key_word`, 
			`create_by`, 
			`create_date`, 
			`update_by`, 
			`update_date`, 
			`type`
		)
		values
		(
			#{id}, 
			#{checkPoint}, 
			#{checkItem}, 
			#{keyPoint}, 
			#{checkStandard}, 
			#{sort}, 
			#{templateName}, 
			#{equipmentCategory}, 
			#{companyId}, 
			#{keyWord}, 
			#{createBy}, 
			#{createDate}, 
			#{updateBy}, 
			#{updateDate}, 
			#{type}
		)
	</insert>
	
	<insert id="saveBatch">

		insert into ngt_periodic_maintenance_content_template
		(
			`id`, 
			`check_point`, 
			`check_item`, 
			`key_point`, 
			`check_standard`, 
			`sort`, 
			`template_name`, 
			`equipment_category`, 
			`company_id`, 
			`key_word`, 
			`create_by`, 
			`create_date`, 
			`update_by`, 
			`update_date`, 
			`type`
		)
		values
		<foreach collection="list" separator="," item="item">
		(
			#{item.id}, 
			#{item.checkPoint}, 
			#{item.checkItem}, 
			#{item.keyPoint}, 
			#{item.checkStandard}, 
			#{item.sort}, 
			#{item.templateName}, 
			#{item.equipmentCategory}, 
			#{item.companyId}, 
			#{item.keyWord}, 
			#{item.createBy}, 
			#{item.createDate}, 
			#{item.updateBy}, 
			#{item.updateDate}, 
			#{item.type}
		)
		</foreach>
	</insert>
	 
	<update id="update" parameterType="com.huaxing.bean.PeriodicMaintenanceContentTemplate">
		update ngt_periodic_maintenance_content_template 
		<set>
			<if test="checkPoint != null">`check_point` = #{checkPoint}, </if>
			<if test="checkItem != null">`check_item` = #{checkItem}, </if>
			<if test="keyPoint != null">`key_point` = #{keyPoint}, </if>
			<if test="checkStandard != null">`check_standard` = #{checkStandard}, </if>
			<if test="sort != null">`sort` = #{sort}, </if>
			<if test="templateName != null">`template_name` = #{templateName}, </if>
			<if test="equipmentCategory != null">`equipment_category` = #{equipmentCategory}, </if>
			<if test="companyId != null">`company_id` = #{companyId}, </if>
			<if test="keyWord != null">`key_word` = #{keyWord}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateDate != null">`update_date` = #{updateDate}, </if>
			<if test="type != null">`type` = #{type}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from ngt_periodic_maintenance_content_template where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from ngt_periodic_maintenance_content_template where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<!-- 判断是否存same -->
	<select id="isExists" resultType="int"  parameterType="com.huaxing.bean.PeriodicMaintenanceContentTemplate">
	      select count(*) from ngt_periodic_maintenance_content_template where template_name=#{templateName}
	      
	      <if test="id!=null and id!='' ">
	         and  id != #{id}
	      </if>
	</select>

</mapper>